.page-login-v3:before {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: cover;
    z-index: -1;
    background: #3949ab;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: url(/assets/admin/assets/images/register.jpeg);
    background-repeat: repeat-x;
}

.page-login-v3 .panel {
    width: 400px;
    margin-bottom: 45px;
    background: #fff;
    border-radius: 0.286rem;
}

.page-login-v3 .panel .panel-body {
    padding: 50px 40px 40px;
}

.page-login-v3 .panel .brand-text {
    margin-top: 8px;
}

.page-login-v3 form {
    margin: 45px 0 30px;
}

.page-login-v3 form a {
    margin-left: 20px;
}

.page-login-v3 form .form-material.floating + .page-login-v3 form .form-material.floating {
    margin-top: 30px;
}

.page-login-v3 form .form-material label {
    color: #a3afb7;
    font-weight: 300;
}

@media (max-width: 479.98px) {
    .page-login-v3 .page-content {
        padding: 30px 20px;
    }

    .page-login-v3 .panel {
        width: auto;
        padding: 10px;
    }

    .page-login-v3 .panel .panel-body {
        padding: 35px 25px 35px;
    }
}
